<script lang="ts">
    import type { Writable } from "svelte/store";
    import { Check, X } from "lucide-svelte";

    export let action: (() => void) | undefined;
    export let open_store: Writable<boolean>;
    export let transparent: boolean = false;

    import { fade, scale } from "svelte/transition";
    import { quintOut } from "svelte/easing";
</script>

{#if $open_store}
    <div
        class={`modal${transparent ? " transparent" : ""}`}
        transition:fade={{ duration: 150 }}
    >
        <div
            class="modal_content"
            transition:scale={{
                duration: 500,
                delay: 150,
                opacity: 0,
                start: 0,
                easing: quintOut,
            }}
        >
            <slot />

            {#if action}
                <hr />

                <div class="flex g-4 flex-wrap justify-space-between">
                    <button class="red round" on:click={() => open_store.set(false)}>
                        <X size={18} />
                        Cancel
                    </button>

                    <button class="green round" on:click={action}>
                        <Check size={18} />
                        Confirm
                    </button>
                </div>
            {/if}
        </div>
    </div>
{/if}

<style>
    .modal {
        display: grid;
        place-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 15%);
        backdrop-filter: blur(5px);
        z-index: 10000;
        top: 0;
        left: 0;
    }

    .modal .modal_content {
        width: 35rem;
        max-width: 100dvw;
        background: var(--background-surface);
        padding: var(--u-10);
        border-radius: var(--u-02);
        box-shadow: 0 0 2px black;
    }

    .modal.transparent .modal_content {
        background: transparent;
        box-shadow: none;
    }
</style>
