<script lang="ts">
    import type { Message } from "$lib/db/CommunicationDB";

    import {
        Save,
        SendHorizonal,
        Upload,
        X,
        File as FileIcon,
        Mailbox,
    } from "lucide-svelte";

    import { GalaxyStore, PlanetStore, MessagesStore, AuthStore } from "$lib/stores";
    import { writable, type Writable } from "svelte/store";
    import Modal from "./Modal.svelte";

    let error: string | undefined;

    const ConfirmDialogOpen = writable<boolean>(false);
    const SendingDialogOpen = writable<boolean>(false);

    // message editing
    export let EditingMessageStore: Writable<string | undefined> | undefined;
    export let message: Message | undefined;

    // attachments
    let InteractedAttachment: File | undefined;
    let FileList: FileList | undefined;

    // functions
    async function SendMessage(e: SubmitEvent): Promise<void> {
        e.preventDefault();

        if (
            !e.target ||
            // make sure required stores are present
            !$GalaxyStore ||
            !$PlanetStore ||
            !$MessagesStore
        )
            return;

        // @ts-ignore create body
        const body = new FormData(e.target);

        // @ts-ignore clear inputs
        e.target.reset();
        // @ts-ignore clear attachment input
        e.target.attachments.dispatchEvent(new InputEvent("input"));

        // send request
        SendingDialogOpen.set(true);
        const res = await fetch(
            `/api/galaxy/${$GalaxyStore.ID}/planets/${$PlanetStore.ID}/messages`,
            {
                method: "POST",
                body,
            }
        );

        const json = await res.json();
        SendingDialogOpen.set(false);

        // handle response
        if (json.success === false || json.success === undefined)
            error = json.message || "Unknown Error";
        // push new message
        else {
            if ($PlanetStore.Type === "text") {
                // append
                json.payload.$metadata.AuthorData = $AuthStore;
                MessagesStore.set([...$MessagesStore, json.payload]);

                // scroll to bottom
                const children =
                    document.getElementById("message-zone")?.children || [];

                document
                    .getElementById("message-zone")
                    ?.children[children.length - 1].scrollIntoView();
            } // refresh, people shouldn't be having conversations in a feed view
            else window.location.reload();
        }
    }

    async function EditMessage(
        e: Event<HTMLFormElement>,
        id: string
    ): Promise<void> {
        e.preventDefault();

        if (
            !e.target ||
            // make sure required stores are present
            !$GalaxyStore ||
            !$PlanetStore ||
            !$MessagesStore ||
            !EditingMessageStore
        )
            return;

        // @ts-ignore create body
        const body = JSON.stringify({
            // @ts-ignore
            Content: e.target.Content.value,
        });

        // @ts-ignore clear inputs
        e.target.reset();

        // send request
        const res = await fetch(
            `/api/galaxy/${$GalaxyStore.ID}/planets/${$PlanetStore.ID}/messages/${id}`,
            {
                method: "PUT",
                body,
                headers: {
                    "Content-Type": "application/json",
                },
            }
        );

        const json = await res.json();

        // handle response
        if (json.success === false || json.success === undefined)
            error = json.message || "Unknown Error";
        // update message
        else {
            const message = $MessagesStore.find((m) => m.ID === id);
            if (!message) return;

            message.Content = json.payload.Content;
            message.Edited = json.payload.Edited;

            MessagesStore.set($MessagesStore); // force UI update
            EditingMessageStore.set(undefined);
        }
    }
</script>

<div class="card round secondary flex flex-column g-8">
    <form
        class="flex g-4"
        on:submit={async (e) => {
            if ($EditingMessageStore && message) await EditMessage(e, message.ID);
            else await SendMessage(e);
        }}
    >
        {#if error}
            <div class="mdnote note-error full">
                <div class="mdnote-title">{error}</div>
            </div>
        {/if}

        <!-- files -->
        {#if !$EditingMessageStore}
            <button
                class="round secondary"
                title="Upload File"
                style="height: 40px !important;"
                on:click={(e) => {
                    const FileInput = document.getElementById("attachments");
                    if (!FileInput) return;
                    e.preventDefault();
                    FileInput.click();
                }}
            >
                <Upload size={18} />
            </button>

            <input
                type="file"
                accept="image/*"
                multiple
                name="attachments"
                id="attachments"
                style="display: none;"
                on:input={(e) => {
                    if (!e.target || !e.target) return;
                    // @ts-ignore
                    FileList = e.target.files;

                    if (FileList && FileList.length)
                        document
                            .getElementById("Content")
                            ?.removeAttribute("required");
                    else
                        document
                            .getElementById("Content")
                            ?.setAttribute("required", "true");
                }}
            />
        {/if}

        <!-- content  -->
        <textarea
            name="Content"
            id="Content"
            style="width: 100%; resize: none; height: 40px;"
            placeholder={message
                ? "Enter new message content..."
                : "Send a new message"}
            value={message ? message.Content : ""}
            class="round"
            required
            minlength={1}
            maxlength={100_000}
            on:input={(event) => {
                const textarea = event.target;
                if (!textarea) return;

                // @ts-ignore
                textarea.style.height = "";
                // @ts-ignore
                textarea.style.height =
                    // @ts-ignore
                    Math.min(textarea.scrollHeight + 5, 500) + "px";
            }}
        />

        <!-- save button -->
        <button
            class="round stellular-primary"
            style="width: 50px; height: 40px !important;"
        >
            {#if $EditingMessageStore}
                <Save size={18} />
            {:else}
                <SendHorizonal size={18} />
            {/if}
        </button>

        <!-- cancel button -->
        {#if $EditingMessageStore}
            <button
                class="round red secondary"
                style="width: 50px; height: 40px !important;"
                on:click={(e) => {
                    if (!EditingMessageStore) return;
                    e.preventDefault();
                    EditingMessageStore.set(undefined);
                }}
            >
                <X size={18} />
            </button>
        {/if}
    </form>

    <!-- file listing -->
    {#if FileList && FileList.length > 0}
        <div class="card border round flex g-4 flex-wrap">
            {#each FileList as file}
                <button
                    class="round"
                    on:click={() => {
                        InteractedAttachment = file;
                        ConfirmDialogOpen.set(true);
                    }}
                >
                    <FileIcon size={18} />
                    {file.name}
                </button>
            {/each}
        </div>

        <Modal
            action={async () => {
                const FileInput = document.getElementById("attachments");
                if (!InteractedAttachment || !FileList || !FileInput) return;

                // get file
                const FileListArray = Array.from(FileList);
                const _File = FileListArray.find(
                    (f) => f.name === InteractedAttachment?.name
                );

                if (!_File) return;
                const Index = FileListArray.indexOf(_File);

                // remove file
                FileListArray.splice(Index, 1);

                // create new list
                const data = new DataTransfer();
                for (const file of FileListArray) data.items.add(file);

                // @ts-ignore set files
                FileInput.files = data.files;
                FileInput.dispatchEvent(new InputEvent("input"));

                // close modal
                ConfirmDialogOpen.set(false);
            }}
            open_store={ConfirmDialogOpen}
        >
            {#if InteractedAttachment}
                Are you sure you want to remove this attachment?
            {/if}
        </Modal>
    {/if}

    <Modal action={undefined} transparent={true} open_store={SendingDialogOpen}>
        <div class="flex flex-column justify-center align-center g-4">
            <Mailbox size={48} />
            <h2 class="no-margin">Sending</h2>
        </div>
    </Modal>
</div>
