<script lang="ts">
    import Hero from "../Hero.svelte";

    import {
        Boxes,
        Orbit,
        PlusSquare,
        Rocket,
        Copy,
        ExternalLink,
        Globe2,
        Mail,
        Trash,
    } from "lucide-svelte";

    import {
        GalaxyStore,
        PlanetStore,
        PlanetsStore,
        MembershipStore,
        MessagesStore,
        MessagesCache,
    } from "$lib/stores";

    import type { Channel } from "$lib/db/CommunicationDB";
    import Permissions from "$lib/db/objects/Permissions";

    import ContextMenuZone from "$lib/components/dashboard/context/ContextMenuZone.svelte";
    import GeneralMenuOptions from "$lib/components/dashboard/context/GeneralMenuOptions.svelte";
    import Modal from "$lib/components/dashboard/Modal.svelte";

    import Expandable from "$lib/components/Expandable.svelte";

    import ProfilePhoto from "./message/ProfilePhoto.svelte";
    export let s3_public_endpoint: string;

    // ...
    import { writable } from "svelte/store";

    const ConfirmDialogOpen = writable<boolean>(false);
    const DeletingDialogOpen = writable<boolean>(false);

    let InteractedPlanet: Channel | undefined;
</script>

{#if $GalaxyStore}
    {#if $PlanetStore}
        <Hero topBorder={false}>
            <h2 class="no-margin flex align-center g-4" style="max-width: 100%;">
                {$PlanetStore.Name}
            </h2>

            <span
                class="flex align-center g-4"
                style="opacity: 75%; margin-top: -0.8rem;"
            >
                <Boxes size={18} />
                {$GalaxyStore.Name}
            </span>
        </Hero>
    {:else}
        <Hero topBorder={false}>
            <h2 class="no-margin">{$GalaxyStore.Name}</h2>
        </Hero>
    {/if}
{:else}
    <Hero topBorder={false}>
        <h2 class="no-margin">Dashboard</h2>
    </Hero>
{/if}

<div
    class="card secondary border flex g-4 flex-wrap justify-center"
    style="border-left: none; border-right: none; border-top: none; margin-bottom: var(--u-04);"
>
    {#if !$GalaxyStore}
        <a
            href="/dashboard/go"
            class="button border round"
            data-location={"nowhere"}
        >
            <Orbit size={18} />
            Go to
        </a>
    {/if}

    {#if !$GalaxyStore}
        <a href="/dashboard/galaxy/invite" class="button round">
            <PlusSquare size={18} />
            Join Galaxy
        </a>
    {:else}
        <a
            href="/dashboard/go"
            class="button border round"
            on:click={() => {
                // clear location
                GalaxyStore.set(undefined);
                PlanetStore.set(undefined);
            }}
        >
            <Rocket size={18} />
            Switch Galaxy
        </a>
    {/if}
</div>

{#if $GalaxyStore && $PlanetsStore}
    <div class="card" style="background: transparent;">
        <Expandable
            title={$GalaxyStore.ID === "@me" ? "User Messages" : "Planets"}
            open={true}
        >
            <div class="flex flex-wrap g-4">
                {#each $PlanetsStore as planet}
                    <ContextMenuZone style="width: 100%;">
                        <button
                            class="round full justify-start"
                            style="padding: var(--u-08); height: max-content !important;"
                            on:click={async () => {
                                if (!$GalaxyStore) return;
                                MessagesStore.set(undefined);

                                // update PlanetStore
                                if (!$PlanetStore)
                                    window.location.href = `/dashboard/galaxy/${$GalaxyStore.ID}/${planet.ID}`;

                                // update PlanetStore (same deal as MessagesStore)
                                const _planet = await fetch(
                                    `/api/galaxy/${$GalaxyStore.ID}/planets/${planet.ID}`
                                );

                                PlanetStore.set((await _planet.json()).payload);
                                if (!$PlanetStore) return;

                                // update MessagesStore
                                // client fetch fixes weird issue where the +server.ts file wouldn't be running,
                                // causing messages to not update when changing channels

                                // fetching messages *could* take some time on the server, so we're going to
                                // cache these requests!
                                if ($MessagesCache[$PlanetStore.ID])
                                    MessagesStore.set(
                                        $MessagesCache[$PlanetStore.ID]
                                    );
                                else {
                                    const messages = await fetch(
                                        `/api/galaxy/${$GalaxyStore.ID}/planets/${planet.ID}/messages`
                                    );

                                    const msgs = (await messages.json()).payload;

                                    MessagesStore.set(
                                        $PlanetStore.Type === "text"
                                            ? msgs.reverse()
                                            : msgs
                                    );

                                    // update cache
                                    if (!$MessagesStore) return;
                                    $MessagesCache[$PlanetStore.ID] = $MessagesStore;
                                    MessagesCache.set($MessagesCache);
                                }

                                // update history (so refresh works properly)
                                window.history.pushState(
                                    "new-channel",
                                    "",
                                    `/dashboard/galaxy/${$GalaxyStore.ID}/${planet.ID}`
                                );

                                // scroll to bottom
                                const element =
                                    document.getElementById("message-zone") ||
                                    undefined;
                                if (!element) return;

                                element.scrollTop = element.scrollHeight + 100;
                            }}
                        >
                            {#if $GalaxyStore.ID === "@me"}
                                <ProfilePhoto
                                    user={planet.Name}
                                    size={38}
                                    {s3_public_endpoint}
                                />
                            {:else}
                                <Globe2 size={18} />
                            {/if}

                            {planet.Name}
                        </button>

                        <!-- menu actions -->
                        <div class="flex flex-column g-4" slot="actions">
                            <GeneralMenuOptions />

                            {#if $MembershipStore && $MembershipStore >= Permissions.MINIMUM_ACTION_REQUIREMENTS.MANAGE_PLANETS}
                                <button
                                    class="red round full justify-start"
                                    on:click={() => {
                                        ConfirmDialogOpen.set(true);
                                        InteractedPlanet = planet;
                                    }}
                                >
                                    <Trash size={18} />
                                    Delete Planet
                                </button>

                                <hr />
                            {/if}

                            <button
                                class="round full justify-start"
                                on:click={() =>
                                    navigator.clipboard.writeText(planet.ID)}
                            >
                                <Copy size={18} />
                                Copy ID
                            </button>

                            <a
                                href={`/dashboard/galaxy/${$GalaxyStore.ID}/${planet.ID}`}
                                class="button round full justify-start"
                                target="_blank"
                            >
                                <ExternalLink size={18} />
                                Open Planet
                            </a>
                        </div>
                    </ContextMenuZone>
                {:else}
                    <p>This galaxy has no planets!</p>
                {/each}
            </div>

            {#if $MembershipStore && $MembershipStore >= Permissions.MINIMUM_ACTION_REQUIREMENTS.MANAGE_PLANETS}
                <hr />

                <div class="flex g-4 flex-wrap">
                    <a
                        href={`/dashboard/galaxy/${$GalaxyStore.ID}/create`}
                        class="button green-cta round"
                    >
                        <PlusSquare size={18} />
                        Create
                    </a>
                </div>
            {/if}
        </Expandable>
    </div>

    <Modal
        action={async () => {
            if (
                // make sure required stores are present
                !$GalaxyStore ||
                !InteractedPlanet
            )
                return;

            // send request
            DeletingDialogOpen.set(true);
            const res = await fetch(
                `/api/galaxy/${$GalaxyStore.ID}/planets/${InteractedPlanet.ID}`,
                {
                    method: "DELETE",
                }
            );

            const json = await res.json();

            // handle response
            if (json.success === false || json.success === undefined)
                alert(json.message || "Unknown Error");
            // refresh
            else window.location.reload();
        }}
        open_store={ConfirmDialogOpen}
    >
        {#if InteractedPlanet}
            Clicking "Confirm" will delete <b>{InteractedPlanet.Name}</b>
            - this action is irreversible!
        {/if}
    </Modal>

    <Modal action={undefined} transparent={true} open_store={DeletingDialogOpen}>
        <div class="flex flex-column justify-center align-center g-4">
            <Trash size={48} />
            <h2 class="no-margin">Deleting</h2>
        </div>
    </Modal>
{/if}
