<script lang="ts">
    import { ThemeStore } from "$lib/stores";
    import { onMount } from "svelte";

    import { Moon, Sun } from "lucide-svelte";

    export let theme: "light" | "dark" = "light";
    ThemeStore.subscribe((v) => (theme = v as any));

    onMount(() => {
        // handle preferred theme
        if (
            window.matchMedia("(prefers-color-scheme: dark)").matches &&
            !window.localStorage.getItem("theme")
        )
            ThemeStore.set("dark");
        else if (
            window.matchMedia("(prefers-color-scheme: light)").matches &&
            !window.localStorage.getItem("theme")
        )
            ThemeStore.set("light");

        // handle restore
        if (window.localStorage.getItem("theme"))
            ThemeStore.set(window.localStorage.getItem("theme")!);

        // handle change (and store)
        ThemeStore.subscribe((v) => {
            window.localStorage.setItem("theme", v);
            document.documentElement.className = `${v}-theme`;
        });
    });
</script>

<button
    class="round"
    on:click={() => {
        if (theme === "dark") ThemeStore.set("light");
        else ThemeStore.set("dark");
    }}
>
    {#if theme === "light"}
        <Sun size={18} />
    {:else}
        <Moon size={18} />
    {/if}
</button>
