<script lang="ts">
    import Expandable from "$lib/components/Expandable.svelte";
    import Hero from "$lib/components/Hero.svelte";
    import { ArrowRight } from "lucide-svelte";

    // get data
    import type { PageData } from "./$types";
    export let data: PageData;

    import { AuthStore } from "$lib/stores";
    if (data.user) AuthStore.set(data.user);
</script>

<svelte:head>
    <title>☄️ Stellular</title>

    <!-- open graph -->
    <meta property="og:title" content="☄️ Stellular" />
    <meta name="description" content="☄️ stellular - Personal social system" />
</svelte:head>

<Hero>
    <h2 class="no-margin">☄️ Stellular</h2>

    <div class="flex g-4">
        {#if !$AuthStore}
            <a href="/auth/new" class="button stellular-primary round">
                New Account
            </a>
            <a href="/auth/login" class="button stellular-secondary round">Login</a>
        {:else}
            <a href="/dashboard" class="button stellular-primary round">
                My Dashboard
                <ArrowRight size={18} />
            </a>
        {/if}
    </div>
</Hero>

<main class="small">
    <div class="card flex flex-column g-8">
        <Expandable title="Expandable">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, esse?
        </Expandable>

        <Expandable title="Expandable">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, esse?
        </Expandable>

        <Expandable title="Expandable">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, esse?
        </Expandable>

        <Expandable title="Expandable">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, esse?
        </Expandable>
    </div>
</main>
