<script lang="ts">
    import Expandable from "$lib/components/Expandable.svelte";
    import { ArrowRight, Check } from "lucide-svelte";
    import { GalaxyStore, PlanetStore } from "$lib/stores";

    export let error: string | undefined;
    PlanetStore.set(undefined); // clear previous result

    // get data
    import type { PageData } from "./$types";
    export let data: PageData;

    if (data.galaxy) GalaxyStore.set(data.galaxy[2]);
</script>

<svelte:head>
    <title>☄️ Create Planet - Stellular</title>
</svelte:head>

{#if $GalaxyStore}
    <main class="small flex flex-column g-8 justify-center align-center">
        {#if !$PlanetStore}
            <h2 class="no-margin">Create Planet</h2>

            <div
                class="card secondary border round"
                style="width: 25rem;"
                on:submit={async (e) => {
                    e.preventDefault();
                    if (!e.target || !$GalaxyStore) return;

                    // create body
                    const body = JSON.stringify({
                        // @ts-ignore
                        Name: e.target.Name.value,
                        // @ts-ignore
                        Type: e.target.Type.options[e.target.Type.selectedIndex]
                            .value,
                    });

                    // send request
                    const res = await fetch(
                        `/api/galaxy/${$GalaxyStore.ID}/planets`,
                        {
                            method: "POST",
                            body,
                            headers: {
                                "Content-Type": "application/json",
                            },
                        }
                    );

                    const json = await res.json();

                    // handle response
                    if (json.success === false || json.success === undefined)
                        error = json.message || "Unknown Error";
                    else PlanetStore.set(json.payload);
                }}
            >
                {#if error}
                    <div class="mdnote note-error full">
                        <div class="mdnote-title">{error}</div>
                    </div>
                {/if}

                <form class="full flex flex-column g-8">
                    <div class="flex flex-column g-4">
                        <label for="Name"><b>Name</b></label>

                        <input
                            type="text"
                            name="Name"
                            id="Name"
                            placeholder="my unique planet"
                            class="full round"
                            required
                            minlength={1}
                            maxlength={32}
                        />
                    </div>

                    <div class="flex flex-column g-4">
                        <label for="Type"><b>Type</b></label>

                        <select name="Type" id="Type" class="round">
                            <option value="feed" selected>Feed</option>
                            <option value="text">Text</option>
                        </select>
                    </div>

                    <hr />

                    <button class="stellular-primary full round">
                        <Check size={18} />
                        Create
                    </button>
                </form>
            </div>
        {:else}
            <Expandable title="Planet created!" open={true}>
                A new planet feed has been created in <b>{$GalaxyStore.Name}</b>
            </Expandable>

            <div class="full flex justify-space-between flex-wrap g-4 align-center">
                <span>When you're ready:</span>

                <a
                    href={`/dashboard/galaxy/${$GalaxyStore.ID}/${$PlanetStore.ID}`}
                    class="button stellular-primary round"
                >
                    Continue <ArrowRight size={18} />
                </a>
            </div>
        {/if}
    </main>
{/if}
