<script lang="ts">
    import Expandable from "$lib/components/Expandable.svelte";
    import { ArrowRight, Check } from "lucide-svelte";
    import { GalaxyStore } from "$lib/stores";

    export let error: string | undefined;
</script>

<svelte:head>
    <title>☄️ Create Galaxy - Stellular</title>
</svelte:head>

<main class="small flex flex-column g-8 justify-center align-center">
    {#if !$GalaxyStore}
        <h2 class="no-margin">Create Galaxy</h2>

        <div
            class="card secondary border round"
            style="width: 25rem;"
            on:submit={async (e) => {
                e.preventDefault();
                if (!e.target) return;

                // create body
                const body = JSON.stringify({
                    // @ts-ignore
                    Name: e.target.Name.value,
                });

                // send request
                const res = await fetch("/api/galaxy/create", {
                    method: "POST",
                    body,
                    headers: {
                        "Content-Type": "application/json",
                    },
                });

                const json = await res.json();

                // handle response
                if (json.success === false || json.success === undefined)
                    error = json.message || "Unknown Error";
                else GalaxyStore.set(json.payload);
            }}
        >
            {#if error}
                <div class="mdnote note-error full">
                    <div class="mdnote-title">{error}</div>
                </div>
            {/if}

            <form class="full flex flex-column g-4">
                <label for="Name"><b>Name</b></label>

                <input
                    type="text"
                    name="Name"
                    id="Name"
                    placeholder="my unique galaxy"
                    class="full round"
                    required
                    minlength={1}
                    maxlength={32}
                />

                <hr />

                <button class="stellular-primary full round">
                    <Check size={18} />
                    Create
                </button>
            </form>
        </div>
    {:else}
        <Expandable title="Galaxy created!" open={true}>
            Welcome to your new personal group.
        </Expandable>

        <div class="full flex justify-space-between flex-wrap g-4 align-center">
            <span>When you're ready:</span>
            <a
                href={`/dashboard/galaxy/${$GalaxyStore.ID}`}
                class="button stellular-primary round"
            >
                Continue <ArrowRight size={18} />
            </a>
        </div>
    {/if}
</main>
