<script lang="ts">
    import type { Message as _Message } from "$lib/db/CommunicationDB";
    import Permissions from "$lib/db/objects/Permissions";

    import { Copy, ExternalLink, MessageSquare, Pencil, Trash } from "lucide-svelte";

    import ContextMenuZone from "$lib/components/dashboard/context/ContextMenuZone.svelte";
    import GeneralMenuOptions from "$lib/components/dashboard/context/GeneralMenuOptions.svelte";
    import Message from "$lib/components/dashboard/message/Message.svelte";
    import Modal from "$lib/components/dashboard/Modal.svelte";

    import {
        AuthStore,
        GalaxyStore,
        PlanetStore,
        MessagesStore,
        PlanetsStore,
        MembershipStore,
    } from "$lib/stores";

    export let error: string | undefined;

    // get data
    import type { PageData } from "./$types";
    export let data: PageData;

    if (data.user) AuthStore.set(data.user);
    if (data.galaxy) GalaxyStore.set(data.galaxy[2]);
    if (data.planet) PlanetStore.set(data.planet[2]);
    if (data.messages) MessagesStore.set(data.messages[2]);
    if (data.planets) PlanetsStore.set(data.planets[2]);
    if (data.membership) MembershipStore.set(data.membership);

    // ...
    import { writable } from "svelte/store";
    import SendForm from "$lib/components/dashboard/SendForm.svelte";

    const ConfirmDialogOpen = writable<boolean>(false);
    let InteractedMessage: _Message | undefined;

    // message editing
    let EditingMessageStore = writable<string | undefined>(undefined);
    const DeletedMessages: string[] = []; // hold the ids of deleted messages so they aren't rendered

    // ...
    import { onMount } from "svelte";

    onMount(() => {
        // scroll to bottom
        const element = document.getElementById("message-zone") || undefined;
        if (!element) return;

        element.scrollTop = element.scrollHeight + 100;
    });
</script>

<svelte:head>
    <title>
        ☄️ {$PlanetStore ? $PlanetStore.Name : "Unknown Planet"} - Stellular
    </title>

    <!-- open graph -->
    <meta
        property="og:title"
        content={`☄️ ${
            $PlanetStore ? $PlanetStore.Name : "Unknown Planet"
        } - Stellular`}
    />

    <meta name="description" content="View planet feed" />
</svelte:head>

{#if $AuthStore && $GalaxyStore && $PlanetStore && $MessagesStore}
    <div
        class="full flex flex-column"
        style="height: calc(100vh - var(--nav-height));"
    >
        <!-- FEED channel send box -->
        {#if $PlanetStore.Type === "feed"}
            {#if data.membership >= Permissions.MINIMUM_ACTION_REQUIREMENTS.SEND_MESSAGES}
                <!-- post box, must be a group member to view! -->
                <SendForm EditingMessageStore={undefined} message={undefined} />
            {/if}
        {/if}

        <main
            class="full flex flex-column g-2"
            style="position: relative; height: 100vh; overflow: auto;"
            id="message-zone"
        >
            {#if $PlanetStore.Type === "feed" || $PlanetStore.Type === "text"}
                {#if $MessagesStore}
                    {#each $MessagesStore as message, i}
                        {#if $EditingMessageStore !== message.ID}
                            {#if !DeletedMessages.includes(message.ID)}
                                <ContextMenuZone>
                                    <Message
                                        {message}
                                        {data}
                                        showTop={$MessagesStore[i - 1] === undefined
                                            ? true
                                            : $MessagesStore[i - 1].Author !==
                                              message.Author}
                                        secondary={$PlanetStore.Type === "feed"}
                                    />

                                    <!-- menu actions -->
                                    <div class="flex flex-column g-4" slot="actions">
                                        <GeneralMenuOptions />

                                        {#if $AuthStore && (message.Author === $AuthStore.Username || data.membership >= Permissions.MINIMUM_ACTION_REQUIREMENTS.MANAGE_MESSAGES)}
                                            <button
                                                class="round full justify-start"
                                                on:click={() =>
                                                    EditingMessageStore.set(
                                                        message.ID
                                                    )}
                                            >
                                                <Pencil size={18} />
                                                Edit Message
                                            </button>

                                            <button
                                                class="round red full justify-start"
                                                on:click={() => {
                                                    ConfirmDialogOpen.set(true);
                                                    InteractedMessage = message;
                                                }}
                                            >
                                                <Trash size={18} />
                                                Delete Message
                                            </button>
                                        {/if}

                                        <hr />

                                        <button
                                            class="round full justify-start"
                                            on:click={() =>
                                                navigator.clipboard.writeText(
                                                    message.ID
                                                )}
                                        >
                                            <Copy size={18} />
                                            Copy ID
                                        </button>

                                        <button
                                            class="round full justify-start"
                                            on:click={() =>
                                                navigator.clipboard.writeText(
                                                    message.Channel
                                                )}
                                        >
                                            <Copy size={18} />
                                            Copy Planet ID
                                        </button>

                                        {#if $PlanetStore}
                                            <button
                                                class="round full justify-start"
                                                on:click={() =>
                                                    navigator.clipboard.writeText(
                                                        // @ts-ignore
                                                        $PlanetStore.Galaxy
                                                    )}
                                            >
                                                <Copy size={18} />
                                                Copy Galaxy ID
                                            </button>

                                            <a
                                                href={`/dashboard/galaxy/${$PlanetStore.Galaxy}/${$PlanetStore.ID}/${message.ID}`}
                                                class="button round full justify-start"
                                                target="_blank"
                                            >
                                                <ExternalLink size={18} />
                                                Open Message
                                            </a>
                                        {/if}
                                    </div>
                                </ContextMenuZone>
                            {/if}
                        {:else}
                            <SendForm {EditingMessageStore} {message} />
                        {/if}
                    {:else}
                        <div class="card round secondary flex align-center g-4">
                            <MessageSquare size={18} />
                            This planet has no messages!
                        </div>
                    {/each}
                {/if}
            {/if}
        </main>

        <!-- TEXT channel send box -->
        {#if $PlanetStore.Type === "text"}
            {#if data.membership >= Permissions.MINIMUM_ACTION_REQUIREMENTS.SEND_MESSAGES}
                <!-- post box, must be a group member to view! -->
                <main class="full">
                    <SendForm EditingMessageStore={undefined} message={undefined} />
                </main>
            {/if}
        {/if}
    </div>

    <Modal
        action={async () => {
            if (
                // make sure required stores are present
                !$GalaxyStore ||
                !$PlanetStore ||
                !InteractedMessage
            )
                return;

            // send request
            const res = await fetch(
                `/api/galaxy/${$GalaxyStore.ID}/planets/${$PlanetStore.ID}/messages/${InteractedMessage.ID}`,
                {
                    method: "DELETE",
                }
            );

            const json = await res.json();

            // handle response
            if (json.success === false || json.success === undefined)
                error = json.message || "Unknown Error";
            // delete message
            else {
                DeletedMessages.push(InteractedMessage.ID);
                MessagesStore.set($MessagesStore); // force UI update
                ConfirmDialogOpen.set(false);
            }
        }}
        open_store={ConfirmDialogOpen}
    >
        {#if InteractedMessage}
            Are you sure you want to delete this message? This action is
            irreversible!
        {/if}
    </Modal>
{/if}
