<script lang="ts">
    import Toolbar from "$lib/components/dashboard/Toolbar.svelte";
    import Expandable from "$lib/components/Expandable.svelte";
    import { AuthStore, GalaxyStore, PlanetStore } from "$lib/stores";

    GalaxyStore.set(undefined);
    PlanetStore.set(undefined);

    // get data
    import type { PageData } from "./$types";
    export let data: PageData;

    if (data.user) AuthStore.set(data.user);
</script>

<svelte:head>
    <title>☄️ My Dashboard - Stellular</title>

    <!-- open graph -->
    <meta property="og:title" content="☄️ My Dashboard - Stellular" />
    <meta name="description" content="View your personal dashboard" />
</svelte:head>

{#if $AuthStore}
    <Toolbar s3_public_endpoint={data.Config.s3_public_endpoint} />

    <main class="flex flex-column g-8">
        <Expandable title="Navigate to a galaxy!">
            <p>
                You must navigate to a "galaxy" (group) before you'll see any
                information here!
            </p>
        </Expandable>
    </main>
{/if}
