<script lang="ts">
    import type { Message } from "$lib/db/CommunicationDB";
    import { Clock, Pencil, UserRound } from "lucide-svelte";

    export let message: Message;
    export let secondary: boolean = true;
    export let data: { [key: string]: any } = {};
    export let showTop: boolean = true;

    // parse message content
    import markdown from "bundles-markdown";
    import { onMount } from "svelte";
    import ProfilePhoto from "./ProfilePhoto.svelte";

    let messageContent: string = "";

    onMount(async () => {
        if (message.Content === ":image_upload") {
            return (message.Content = "");
        }

        messageContent = await markdown.ParseMarkdown(message.Content);
    });

    if (message && typeof message.$metadata === "string")
        message.$metadata = JSON.parse(message.$metadata);
</script>

<div
    class={`card round ${secondary === true ? "secondary" : ""} flex g-12 message`}
    style={`${
        showTop === false
            ? "padding: var(--u-04);"
            : "padding: var(--u-10) var(--u-04);"
    }`}
>
    {#if showTop}
        <ProfilePhoto
            user={message.Author}
            s3_public_endpoint={data.Config.s3_public_endpoint}
        />
    {:else}
        <!-- make sure this space is still filled! -->
        <div style="width: 48px; min-width: 48px;" />
    {/if}

    <div class="flex flex-column g-4">
        <!-- message info -->
        {#if showTop}
            <div class="flex align-center g-10" style="user-select: none;">
                <a
                    class="flex align-center g-4 chip mention"
                    href={`/u/${message.Author}`}
                    style="min-width: max-content;"
                >
                    <UserRound size={18} />
                    <b>
                        {message.$metadata.AuthorData
                            ? message.$metadata.AuthorData.DisplayName ||
                              message.Author
                            : message.Author}
                    </b>
                </a>

                <div
                    class="flex align-center g-4 device:desktop"
                    style="opacity: 75%;"
                >
                    {#if message.Edited === message.Created}
                        <span
                            class="flex g-4 align-center"
                            style="width: max-content"
                        >
                            <Clock size={18} />
                            {new Date(message.Created).toLocaleString()}
                        </span>
                    {:else}
                        <span
                            class="flex g-4 align-center"
                            style="width: max-content"
                        >
                            <Pencil size={18} />
                            {new Date(message.Edited).toLocaleString()}
                        </span>
                    {/if}
                </div>
            </div>
        {/if}

        <!-- message content -->
        <!-- this is automatically sanitized by bundles-markdown -->
        <div class="message-content-body">{@html messageContent}</div>

        <!-- message attachments -->
        {#if message.$metadata.Attachments && message.$metadata.Attachments.length > 0}
            <div class="flex g-4 flex-wrap">
                {#each message.$metadata.Attachments as attachment}
                    <img
                        src={`https://${data.Config.s3_public_endpoint}/${message.Channel}/attachments/${attachment}`}
                        alt="Unknown"
                        class="card border NoPadding"
                        style="max-width: 24.5%; border-radius: var(--u-04);"
                    />
                {/each}
            </div>
        {/if}
    </div>
</div>

<style>
    .message:not(.secondary):hover {
        background: var(--background-surface1);
    }
</style>
