<script lang="ts">
    import {
        Clock,
        MessageSquarePlus,
        Pencil,
        Save,
        Upload,
        UploadCloud,
    } from "lucide-svelte";

    import Expandable from "$lib/components/Expandable.svelte";
    import Modal from "$lib/components/dashboard/Modal.svelte";

    import { AuthStore, PlanetStore } from "$lib/stores";

    // get data
    import type { PageData } from "./$types";
    export let data: PageData;

    if (data.user) AuthStore.set(data.user);

    // parse about
    import markdown from "bundles-markdown";
    import { writable } from "svelte/store";
    import { onMount } from "svelte";

    let profileAbout: string = "";

    onMount(async () => {
        profileAbout = await markdown.ParseMarkdown(data.profile.About || "");
    });

    // mode
    let error: string = "";
    let EditMode: boolean = false;

    const UploadingDialogOpen = writable<boolean>(false);
</script>

<svelte:head>
    <title>{data.profile.Username}</title>

    <!-- open graph -->
    <meta property="og:title" content={data.profile.Username} />
    <meta name="description" content={`${data.profile.Username} on ☄️ Stellular`} />
</svelte:head>

<main class="flex g-4 mobile:flex-column">
    <div
        class="card round border flex flex-column g-4 mobile:max"
        style="width: 25%; height: max-content;"
    >
        <object
            title="Profile Photo"
            data={`https://${data.Config.s3_public_endpoint}/avatars/${data.profile.Username}`}
            class="card border NoPadding"
            style="border-radius: 360rem; width: 150px; height: 150px; align-self: center;"
        >
            <!-- fallback -->
            <img
                src={`/api/initials?text=${data.profile.Username}`}
                alt="User Profile"
                style="border-radius: 360rem; width: 148px; height: 148px;"
            />
        </object>

        {#if EditMode && $AuthStore && $AuthStore.ID === data.profile.ID}
            <form
                on:submit={async (e) => {
                    e.preventDefault();
                    if (!e.target) return;

                    // @ts-ignore create body
                    const body = new FormData(e.target);

                    // send request
                    UploadingDialogOpen.set(true);
                    const res = await fetch(`/api/star/${data.user.ID}/photo`, {
                        method: "POST",
                        body,
                    });

                    const json = await res.json();
                    UploadingDialogOpen.set(false);

                    // handle response
                    if (json.success === false || json.success === undefined)
                        alert(json.message || "Unknown Error");
                    // show update
                    else window.location.reload();
                }}
            >
                <button
                    class="full round border"
                    on:click={(e) => {
                        const FileInput = document.getElementById("photo");
                        if (!FileInput) return;
                        e.preventDefault();
                        FileInput.click();
                    }}
                >
                    <Upload size={18} />
                    Upload Picture
                </button>

                <button style="display: none;">hidden submit button</button>

                <input
                    type="file"
                    accept="image/*"
                    name="photo"
                    id="photo"
                    style="display: none;"
                    on:input={(e) => {
                        // @ts-ignore
                        e.target.form.querySelector("button:nth-child(2)").click();
                    }}
                />
            </form>
        {/if}

        <div class="flex flex-column">
            {#if !EditMode}
                <h4 class="no-margin">{data.profile.DisplayName}</h4>
            {:else}
                <form
                    class="flex g-4"
                    on:submit={async (e) => {
                        e.preventDefault();
                        if (!e.target) return;

                        // create body
                        const body = JSON.stringify({
                            // @ts-ignore
                            DisplayName: e.target.DisplayName.value,
                        });

                        // send request
                        const res = await fetch(
                            `/api/star/${data.user.ID}/displayname`,
                            {
                                method: "POST",
                                body,
                                headers: {
                                    "Content-Type": "application/json",
                                },
                            }
                        );

                        const json = await res.json();

                        // handle response
                        if (json.success === false || json.success === undefined)
                            alert(json.message || "Unknown Error");
                        // show update
                        else window.location.reload();
                    }}
                >
                    <input
                        type="text"
                        minlength={4}
                        maxlength={32}
                        required
                        value={data.profile.DisplayName}
                        class="round"
                        name="DisplayName"
                        id="DisplayName"
                        placeholder="Display Name"
                        style="width: calc(100% - 43.6px);"
                    />

                    <button
                        class="stellular-primary round border"
                        style="height: 40px !important; width: 43.6px;"
                    >
                        <Save size={18} />
                    </button>
                </form>
            {/if}

            <p class="no-margin" style="opacity: 75%;">
                {data.profile.Username}
            </p>
        </div>

        <span class="flex align-center g-4">
            <Clock size={18} />
            {new Date(data.profile.Joined).toLocaleString()}
        </span>

        {#if $AuthStore}
            <hr class="full" />

            {#if data.existing_dm === undefined}
                <button
                    class="green-cta round full"
                    on:click={async () => {
                        // create body
                        const body = JSON.stringify({
                            // @ts-ignore
                            Name: "NewDM",
                            User: data.profile.ID,
                        });

                        // send request
                        const res = await fetch(`/api/galaxy/@me/planets`, {
                            method: "POST",
                            body,
                            headers: {
                                "Content-Type": "application/json",
                            },
                        });

                        const json = await res.json();

                        // handle response
                        if (json.success === false || json.success === undefined)
                            alert(json.message || "Unknown Error");
                        else PlanetStore.set(json.payload);
                    }}
                >
                    <MessageSquarePlus size={18} />
                    Message
                </button>
            {:else}
                <a
                    class="button green-cta round full"
                    href={`/dashboard/galaxy/@me/${data.existing_dm.ID}`}
                >
                    <MessageSquarePlus size={18} />
                    Message
                </a>
            {/if}
        {/if}
    </div>

    <div class="flex flex-column g-4 mobile:max" style="width: 75%;">
        <Expandable
            title={`Member of ${data.groups.length} galax${
                data.groups.length > 1 || data.groups.length === 0 ? "ies" : "y"
            }`}
        >
            <ul>
                {#each data.groups as group}
                    <li>{group.Name}</li>
                {/each}
            </ul>
        </Expandable>

        <div
            class="card round secondary border editor-tab tab-container"
            id="editor-tab-preview"
        >
            {#if !EditMode}
                {@html profileAbout}
            {:else}
                <form
                    class="flex flex-column g-4"
                    on:submit={async (e) => {
                        e.preventDefault();
                        if (!e.target || !$AuthStore) return;

                        // @ts-ignore create body
                        const body = JSON.stringify({
                            // @ts-ignore
                            Content: e.target.Content.value,
                        });

                        // send request
                        const res = await fetch(
                            `/api/star/${data.profile.ID}/update`,
                            {
                                method: "POST",
                                body,
                                headers: {
                                    "Content-Type": "application/json",
                                },
                            }
                        );

                        const json = await res.json();

                        // handle response
                        if (json.success === false || json.success === undefined)
                            error = json.message || "Unknown Error";
                        else {
                            data.profile.About = json.payload.About;
                            profileAbout = await markdown.ParseMarkdown(
                                data.profile.About || ""
                            );

                            EditMode = false;
                        }
                    }}
                >
                    {#if error}
                        <div class="mdnote note-error full">
                            <div class="mdnote-title">{error}</div>
                        </div>
                    {/if}

                    <textarea
                        name="Content"
                        id="Content"
                        style="width: 100%; resize: none;"
                        placeholder={"Write something about yourself! (markdown supported)"}
                        class="round"
                        minlength={1}
                        maxlength={100_000}
                        value={data.profile.About}
                        on:input={(event) => {
                            const textarea = event.target;
                            if (!textarea) return;

                            // @ts-ignore
                            textarea.style.height = "";
                            // @ts-ignore
                            textarea.style.height =
                                // @ts-ignore
                                Math.min(textarea.scrollHeight + 5, 500) + "px";
                        }}
                    />

                    <div class="flex full justify-right">
                        <button class="round stellular-primary">
                            <Save size={18} />
                            Save
                        </button>
                    </div>
                </form>
            {/if}

            {#if $AuthStore && $AuthStore.ID === data.profile.ID}
                <hr />

                <button class="round border" on:click={() => (EditMode = !EditMode)}>
                    <Pencil size={18} />
                    Toggle Edit Mode
                </button>
            {/if}
        </div>
    </div>
</main>

<Modal action={undefined} transparent={true} open_store={UploadingDialogOpen}>
    <div class="flex flex-column justify-center align-center g-4">
        <UploadCloud size={48} />
        <h2 class="no-margin">Uploading</h2>
    </div>
</Modal>
