<script lang="ts">
    import { ContextMenuStore } from "$lib/stores";

    import { scale } from "svelte/transition";
    import { quintOut } from "svelte/easing";

    export let X: number = 0;
    export let Y: number = 0;
    export let Enabled: boolean = true;
    export let style: string = "";

    let visible = false;
</script>

<svelte:body
    on:click={() => {
        visible = false;
    }}
/>

<!-- context menu -->
{#if visible}
    <div
        class="context-menu card round border secondary"
        style={`top: ${Y}px; left: ${X}px;`}
        transition:scale={{
            duration: 250,
            opacity: 0,
            start: 0,
            easing: quintOut,
        }}
    >
        <slot name="actions" />
    </div>
{/if}

<!-- context menu zone -->
<!-- svelte-ignore a11y-no-static-element-interactions -->
<div
    {style}
    on:contextmenu={(e) => {
        if (!Enabled) return;
        e.preventDefault();

        visible = true;
        X = e.pageX;
        Y = e.pageY;

        // if body height - Y < 250, subtract 250 from Y
        if (document.body.getBoundingClientRect().height - Y < 250) Y -= 250;

        // @ts-ignore
        ContextMenuStore.set(e.target);
    }}
>
    <slot />
</div>

<!-- ... -->
<style>
    .context-menu {
        width: 15rem;
        position: fixed;
        z-index: 5;
        padding: var(--u-04);
    }
</style>
